.contact {
  width: 50%;
  margin: 3rem auto;
}
.contact-title {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.contact__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.contact__container a {
  color: var(--white-color);
  text-decoration: underline;
  font-weight: bold;
}

.contact__form {
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-top: 2rem;
}
.contact_submit {
  background-color: var(--purple-very-light-color);
  color: var(--contact-form);
  width: 100px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0.6rem;
  border: none;
  font-size: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.contact_submit:hover {
  background-color: var(--contact-form);
  color:  var(--purple-very-light-color);
  transform: scale(1.05);
}

.contact__form__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.contact__form__container input,
.contact__form__container textarea {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color:  var(--contact-form);
  color: rgb(255, 255, 255);
  font-size: inherit;
  outline: none;
  resize: vertical;
}
.contact__form__container input:focus,
.contact__form__container textarea:focus {
  border-bottom: 2px solid var(--purple-color);
  transition: border-bottom 0.9s ease-in-out;
}

@media (max-width: 1000px) {
  .contact {
    width: 70%;
    margin: 3rem auto;
  }
}
@media (max-width: 768px) {
  .contact {
    width: 80%;
    margin: 3rem auto;
  }
}
@media (max-width: 480px) {
  .contact {
    width: 95%;
    margin: 1.5rem auto;
  }

  .contact-title {
    margin-bottom: 1.2rem;
  }

  .contact__container {
    gap: 0.6rem;
    font-size: 1.2rem;
  }

 .contact__form {
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
    font-size: 1.2rem;
  letter-spacing: 1px;
  margin-top: 2rem;
}
  .contact_submit {
    width: 100px;
    border-radius: 5px;
    padding: 0.6rem;
  }

  .contact__form__container {
    gap: 0.4rem;
    font-size: 1.2rem;
  }
  .contact__form__container input,
  .contact__form__container textarea {
    width: 100%;
    padding: 0.5rem;
  }
}
