.header {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
  border-radius: 2rem;
  padding: 1rem 2rem;
  box-shadow: 0 2px 30px var(--transparent-purple-color);
}
.nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1rem;
  font-weight: 700;
  color: var(--white-color);
  text-decoration: none;
}
.logo p:last-child {
  font-size: 0.65rem;
  font-weight: 700;
  color: var(--purple-color);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style-type: none;

  /* background-color: #fff;  */
}
.nav-list-desk {
  gap: 2.5rem;
}

.nav-link {
  display: block;
  color: var(--purple-color);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  text-decoration: none;
  font-weight: bold;
}
.nav-link-contact {
  width: 130px;
  height: 50px;
  color: var(--button-text-color);
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
   background-color: var(--button-color)
}

.nav-link-contact:hover {
  background-color: var(--button-hover-color);
  color: var(--button-text-hover-color);
}

.nav-link:hover {
  color: var(--purple-dark-color);
  border-bottom: 2px solid var(--purple-dark-color);
}

.nav-link.active {
  color: var(--white-color);
}

.menu-button-hide {
  display: none;
  width: 35px;
  height: 35px;
    border: none;
  background-color: rgba(255, 255, 255, 0);
  color: #e6dada;
  font-size: 25px;

}

.nav-sidebar {
  width: 100%;
  margin-top: 1rem;
  display: none;  /* background-color: rgb(40, 71, 71); */
}

.nav-list-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  list-style-type: none;
  border-radius: 2rem;
}
.nav-list-mobile li {
  margin-bottom: 1.5rem;
}

@media (max-width: 900px) {
.header {
  width: 90%;
  
}
}


@media (max-width: 650px) {
  .header {
    padding: 0rem;
    box-shadow: 0 2px 30px var(--transparent-purple-color);
  }
  .nav {
    width: 95%;
    padding: 0.6rem;
  }
  .nav-mobile {
    width: 100%;
    
    /* Adjust values as needed */
  }
 

  .nav-sidebar {
    display: block;
    margin-top: 0rem;
    width: 100%;
    margin-top: 0rem;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0.4,0,0.2,1), opacity 0.3s;
  }
  .nav-sidebar.open {
    max-height: 500px; /* Adjust as needed for your content */
    opacity: 1;
  }

  .nav-mobile-hide {
    display: none;
  }
  .menu-button-hide {
    display: block;
  }
  .icon-animate {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
  }
  .icon-animate.open {
    transform: rotate(180deg) scale(1.2);
  }
}
